# Database Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT=5000
# firebase collections
COLLECTION_USERS=
COLLECTION_QUIZZES=
COLLECTION_QUESTIONS=
COLLECTION_RESULTS=
NODE_ENV=

# frontend urls
FRONTEND_LOCAL_URL=
FRONTEND_URL=